html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 90%;

}

.listContainer{
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aqua;
    padding: 20px;
    padding-top: 0px;
    min-height: 600px;
    min-width: 250px;
    height: 90%;
}

.listHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    margin: 0px;
}

.taskList{
    background-color: orange;
    min-height: 520px !important;
    max-height: 520px;
    width: 100%;
    overflow-y: auto;
}

.newListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.taskCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background-color: bisque;
    max-width: 300px;
    margin: 10px;
}
.taskCardContent{
    font-size: 20px;
    margin-left: 20px;
    cursor: text !important;
    padding: 5px;
}
.icon{
    margin: 10px;
    height: 20px;
    width: auto;
    cursor: pointer !important;
}

.addTaskIcon{
    height: 20px;
    width: auto;
    margin: 10px;
    margin-left: 20px;
}