html, body{
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1528164344705-47542687000d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1969&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: auto;
}

#app{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 100%;
    margin: 20px;
}

.listContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 0px 10px 0px 10px;
    min-height: 600px;
    min-width: 300px;
    width: 20%;
    height: 90%;
    max-height: 1000px;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}

.listHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 15px;
    height: 5%;
}

.taskList{
    min-height: 450px !important;
    height: 85%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.newListItem{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 10%;
    padding-bottom: 10px;
}

.taskCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.taskCardContent{
    font-size: 20px;
    margin-left: 20px;
    cursor: text !important;
    padding: 5px;
}
.icon{
    margin: 10px;
    height: 20px;
    width: auto;
    cursor: pointer !important;
}

.addTaskIcon{
    height: 20px;
    width: auto;
    margin: 10px;
    margin-left: 20px;
}

.addListIcon{
    height: 90%;
    max-height: 1000px;
    width: 40px;
    padding: 0px 15px 0px 15px;
    margin: 0px 20px 0px 20px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

*{
    animation: fadein 0.5s;
}

::-webkit-scrollbar {
    background-color: rgba( 255, 255, 255, 0 );
    height: 7px;
    width: 7px;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-color: rgb(255, 255, 255);
    height: 0px;
    width: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(86, 86, 86);
    border-radius: 10px;
}